<div class="atrip-place-page">
	<div class="background-map" style="background-image: url('http://maps.googleapis.com/maps/api/staticmap?center=ilhabela&zoom=10&size=1280x400&markers=color:red%7Clabel=ilhabela&sensor=true&scale=2&format=png')"></div>
	
	<div class="wrapper">
		<section class="main-content">
			<div class="wrap-inner">
				<article class="highlight line">
					<div class="main-image">
						<img src="/assets/examples/highlight-image.png" alt="Ilhabela" />
					</div>
					<ul class="carousel">
						<li><a href="#" title="Ilhabela"><img src="/assets/examples/highlight-carousel.png" alt="ilhabela"></a></li>
						<li><a href="#" title="Ilhabela"><img src="/assets/examples/highlight-carousel.png" alt="ilhabela"></a></li>
						<li><a href="#" title="Ilhabela"><img src="/assets/examples/highlight-carousel.png" alt="ilhabela"></a></li>
						<li><a href="#" title="Ilhabela"><img src="/assets/examples/highlight-carousel.png" alt="ilhabela"></a></li>
						<li><a href="#" title="Ilhabela"><img src="/assets/examples/highlight-carousel.png" alt="ilhabela"></a></li>
					</ul>
				</article>
				
				<article class="place-info line">
					<h1 class="title">Ilhabela</h1>
					
					<p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</p>
					
					<p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</p>
					
					<p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</p>
				</article>
			</div>
		</section>
	</div>

	<%= form_for @country, :html => { :multipart => true } do |form| %>
	  <%= form.file_field :image %>
	  <%= form.submit 'Gravar' %>
	<% end %>

	<% @country.pictures.each do |picture| %>
		<%= image_tag picture.image %>
	<% end %>

	<%= render @country.regions %>
</div>